@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
html,body{
    height: 100%;
}

body{
    font-family: Roboto, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
}

header{
    background:#1f2937;
    color: #F9FAF8;
}
header h3{
    font-size: 24px;
}

ul{
    display: flex;
    list-style: none;
    gap: 20px;
}

a, .texto-botón p{
    color: #e5e7eb;
    text-decoration: none;
    font-size: 18px;
}

.logo-links{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px;
}

.hero{
    display: flex;
    /* border: 3px rgb(197, 32, 32) solid; */
    padding: 50px;
    flex: 1;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
   
 button {
    background: #3882f6;
    color: #e5e7eb;
    border: none;
    border-radius: 8px;
    padding: 10px;
    width: 150px;
}
.texto-botón{
    border: 3px rgb(32, 197, 32) solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    width: 30%;
    height: 300px;
}
.texto-botón h1{
    font-size: 48px;
    color:#f9faf8;
    font-weight: 900;
   display: flex;
   margin: 0;
}
 .texto-botón p { 
     margin: 0;

 }
.image{
    /* border: 3px rgb(197, 32, 183) solid; */
    width: 600px ;
    height: 300px;
    display: flex;
    justify-content: center;
}

.image img{
    width: 100%;
}
