@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;1,300&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
html,body{
    height: 100vh;
}

body{
    font-family: Roboto, sans-serif;
    margin: 0;
    /* display: flex;
    flex-direction: column; */
}

header{
    /* border: #f6e938 solid 2px; */
    background:#1f2937;
    color: #F9FAF8;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    padding: 0 50px 50px 50px;
    flex-wrap: wrap;

}

header h3{
    font-size: 24px;
    /* border: 3px rgb(197, 32, 32) solid; */
    display: flex;
}

ul{
    /* border: #f6e938 solid 2px; */
    display: flex;
    list-style: none;
    gap: 20px;
}

a, .texto-botón p {
    color: #e5e7eb;
    text-decoration: none;
    font-size: 18px;
}

.logo-links{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0 30px ;
    /* border: 3px rgb(32, 197, 46) solid; */
    gap: 400px;
}

.hero{
    display: flex;
    flex-wrap: wrap;
    /* border: 3px rgb(197, 32, 32) solid; */
    padding: 50px;
    flex: 1;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
   
 .texto-botón button {
    background: #3882f6;
    color: #e5e7eb;
    border: none;
    border-radius: 8px;
    padding: 10px 20px ;
    width: 120px;
}
.texto-botón{
    /* border: 3px rgb(197, 32, 95) solid; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-style: italic;
    font-weight: 300;
    width: 30%;
    /* height: 300px; */
}
.texto-botón h1{
    font-size: 48px;
    color:#f9faf8;
    font-weight: 900;
    display: flex;
    margin: 0;
}
 .texto-botón p { 
     margin-bottom: 10px;
      margin-top: 0; 

 }
.image{
    /* border: 3px rgb(197, 32, 183) solid;  */
    width: 600px ;
    height: 233px;
    display: flex;
    justify-content: center;
}

.image img{
    width: 100%;
}
main{
   display: flex;
   flex-direction: column;
}
main h1{
    display: flex;
    justify-content: center;
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    margin: 0;
}

.main{
    /* border: 3px rgb(197, 32, 197) solid; */
     display: flex;
    justify-content: center;
    padding: 50px;
    flex-wrap: wrap;
    gap: 50px;
    color: dimgray;
}

.item{
    /* border: 3px rgb(197, 32, 197) solid; */
     max-width: min-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    
}
.main img{
    width: 200px;
    height: 200px;
    border: 2px #3882f6 solid;
    box-shadow: 8px 8px 4px #7989a0;
    border-radius: 3%;
}
article{
    /* border: 3px rgb(167, 197, 32) solid; */
    font-size: 36px;
    color:#1f2937;
    background: #e5e7eb ;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

cite{
    font-weight: 300;
}

.article p{
    font-size: 30px;
}

.article{
    /* border: 3px rgb(57, 32, 197) solid; */
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: flex-end;
}
.containere{
    padding: 50px;
    display: flex;
    justify-content: center;

}
.call{
    /* border: 3px rgb(197, 37, 32) solid; */
    padding: 50px;
    background: #3882f6;
    display: flex;
    flex-direction: column;
    color: #f9faf8;
    width: 50%;
    margin-bottom: 0;
    border-radius: 8px;
}

.call h3,
.call p{
    margin: 0;
}

.lol{
    display: flex;
    justify-content: space-between;
}
.lol button {
    background: #3882f6;
    color: #e5e7eb;
    border: white 1px solid;
    border-radius: 8px;
    padding: 10px;
    width: 150px;
}
footer{
    background:#1f2937;
    padding: 20px;
    color: #F9FAF8;
    display: flex;
    justify-content: center;
    align-items: center;
}